@model IEnumerable<olashop.Models.Category>

@{
    ViewData["Title"] = "CategoryIndex";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}


<h1>CategoryIndex</h1>

<p>
    <a asp-action="CategoryCreate" class="btn btn-success">+Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="CategoryEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="CategoryDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="CategoryDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
